---
layout: default
---
<div class="jumbotron jumbotron-fluid" style="background-color:blueviolet;">
    <div class="container">
        <h4 class="display-4 text-white pt-1">{{ page.title }}</h4>
    </div>
</div>
<section class="container-fluid">
    <div class="container pt-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-5">
                <div class="card">
                    <div class="card-header text-center text-white" style="background-color: #686868;">
                        <h5><b>12px</b></h5>
                    </div>
                    <div class="card-body bg-light">
                        <div style="height:100px; width:100%" class="d-flex justify-content-center img-container">
                            <img src="{{ page.svgbgwhite | relative_url }}" height="12px" width="12px" class="align-self-center" alt="{{ page.alt }}">
                        </div>
                        <h6 class="card-title text-center pt-2">{{ page.title }}</h6>
                    </div>
                    <div class="card-footer">
                        <h4 class="lead text-center py-2" style="color:#8900B9"><b>Download</b></h4>
                        <div class="d-flex justify-content-between py-2">
                            <a href="{{ page.png12px | relative_url }}" download="{{ page.png12pxd }}" class="btn btn-primary" role="button">PNG</a>
                            <a href="{{ page.jpg12px | relative_url }}" download="{{ page.jpg12pxd }}" class="btn btn-success" role="button">JPG</a>
                            <a href="{{ page.pdf | relative_url }}" download="{{ page.pdfd }}" class="btn btn-secondary" role="button">PDF</a>
                            <a href="{{ page.svg | relative_url }}" download="{{ page.svgd }}" class="btn btn-info" role="button">SVG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card">
                    <div class="card-header text-center text-white" style="background-color: #686868;">
                        <h5><b>18px</b></h5>
                    </div>
                    <div class="card-body bg-light">
                        <div style="height:100px; width:100%" class="d-flex justify-content-center img-container">
                            <img src="{{ page.svgbgwhite | relative_url }}" height="18px" width="18px" class="align-self-center" alt="{{ page.alt }}">
                        </div>
                        <h6 class="card-title text-center pt-2">{{ page.title }}</h6>
                    </div>
                    <div class="card-footer">
                        <h4 class="lead text-center py-2" style="color:#8900B9"><b>Download</b></h4>
                        <div class="d-flex justify-content-between py-2">
                            <a href="{{ page.png18px | relative_url }}" download="{{ page.png18pxd }}" class="btn btn-primary" role="button">PNG</a>
                            <a href="{{ page.jpg18px | relative_url }}" download="{{ page.jpg18pxd }}" class="btn btn-success" role="button">JPG</a>
                            <a href="{{ page.pdf | relative_url }}" download="{{ page.pdfd }}" class="btn btn-secondary" role="button">PDF</a>
                            <a href="{{ page.svg | relative_url }}" download="{{ page.svgd }}" class="btn btn-info" role="button">SVG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card">
                    <div class="card-header text-center text-white" style="background-color: #686868;">
                        <h5><b>24px</b></h5>
                    </div>
                    <div class="card-body bg-light">
                        <div style="height:100px; width:100%" class="d-flex justify-content-center img-container">
                            <img src="{{ page.svgbgwhite | relative_url }}" height="24px" width="24px" class="align-self-center" alt="{{ page.alt }}">
                        </div>
                        <h6 class="card-title text-center pt-2">{{ page.title }}</h6>
                    </div>
                    <div class="card-footer">
                        <h4 class="lead text-center py-2" style="color:#8900B9"><b>Download</b></h4>
                        <div class="d-flex justify-content-between py-2">
                            <a href="{{ page.png24px | relative_url }}" download="{{ page.png24pxd }}" class="btn btn-primary" role="button">PNG</a>
                            <a href="{{ page.jpg24px | relative_url }}" download="{{ page.jpg24pxd }}" class="btn btn-success" role="button">JPG</a>
                            <a href="{{ page.pdf | relative_url }}" download="{{ page.pdfd }}" class="btn btn-secondary" role="button">PDF</a>
                            <a href="{{ page.svg | relative_url }}" download="{{ page.svgd }}" class="btn btn-info" role="button">SVG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card">
                    <div class="card-header text-center text-white" style="background-color: #686868;">
                        <h5><b>36px</b></h5>
                    </div>
                    <div class="card-body bg-light">
                        <div style="height:100px; width:100%" class="d-flex justify-content-center img-container">
                            <img src="{{ page.svgbgwhite | relative_url }}" height="36px" width="36px" class="align-self-center" alt="{{ page.alt }}">
                        </div>
                        <h6 class="card-title text-center pt-2">{{ page.title }}</h6>
                    </div>
                    <div class="card-footer">
                        <h4 class="lead text-center py-2" style="color:#8900B9"><b>Download</b></h4>
                        <div class="d-flex justify-content-between py-2">
                            <a href="{{ page.png36px | relative_url }}" download="{{ page.png36pxd }}" class="btn btn-primary" role="button">PNG</a>
                            <a href="{{ page.jpg36px | relative_url }}" download="{{ page.jpg36pxd }}" class="btn btn-success" role="button">JPG</a>
                            <a href="{{ page.pdf | relative_url }}" download="{{ page.pdfd }}" class="btn btn-secondary" role="button">PDF</a>
                            <a href="{{ page.svg | relative_url }}" download="{{ page.svgd }}" class="btn btn-info" role="button">SVG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card">
                    <div class="card-header text-center text-white" style="background-color: #686868;">
                        <h5><b>48px</b></h5>
                    </div>
                    <div class="card-body bg-light">
                        <div style="height:100px; width:100%" class="d-flex justify-content-center img-container">
                            <img src="{{ page.svgbgwhite | relative_url }}" height="48px" width="48px" class="align-self-center" alt="{{ page.alt }}">
                        </div>
                        <h6 class="card-title text-center pt-2">{{ page.title }}</h6>
                    </div>
                    <div class="card-footer">
                        <h4 class="lead text-center py-2" style="color:#8900B9"><b>Download</b></h4>
                        <div class="d-flex justify-content-between py-2">
                            <a href="{{ page.png48px | relative_url }}" download="{{ page.png48pxd }}" class="btn btn-primary" role="button">PNG</a>
                            <a href="{{ page.jpg48px | relative_url }}" download="{{ page.jpg48pxd }}" class="btn btn-success" role="button">JPG</a>
                            <a href="{{ page.pdf | relative_url }}" download="{{ page.pdfd }}" class="btn btn-secondary" role="button">PDF</a>
                            <a href="{{ page.svg | relative_url }}" download="{{ page.svgd }}" class="btn btn-info" role="button">SVG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card">
                    <div class="card-header text-center text-white" style="background-color: #686868;">
                        <h5><b>72px</b></h5>
                    </div>
                    <div class="card-body bg-light">
                        <div style="height:100px; width:100%" class="d-flex justify-content-center img-container">
                            <img src="{{ page.svgbgwhite | relative_url }}" height="72px" width="72px" class="align-self-center" alt="{{ page.alt }}">
                        </div>
                        <h6 class="card-title text-center pt-2">{{ page.title }}</h6>
                    </div>
                    <div class="card-footer">
                        <h4 class="lead text-center py-2" style="color:#8900B9"><b>Download</b></h4>
                        <div class="d-flex justify-content-between py-2">
                            <a href="{{ page.png72px | relative_url }}" download="{{ page.png72pxd }}" class="btn btn-primary" role="button">PNG</a>
                            <a href="{{ page.jpg72px | relative_url }}" download="{{ page.jpg72pxd }}" class="btn btn-success" role="button">JPG</a>
                            <a href="{{ page.pdf | relative_url }}" download="{{ page.pdfd }}" class="btn btn-secondary" role="button">PDF</a>
                            <a href="{{ page.svg | relative_url }}" download="{{ page.svgd }}" class="btn btn-info" role="button">SVG</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container pb-5">
        <h1 class="pb-2" style="color:#8900B9">HTML Code</h1>
        <h4 class="text-muted pb-3">Copy the below code and use in your projects</h4>
        <pre><code class=language-html>{{ page.htmlcode }}</code></pre>
    </div>
</section>